MODS_PATH = '/SomePathToAmongUs/AmongUsRootFolder/BepInEx/plugins/'
# replace the SomePathToAmongUs to the path your Among Us Folder is in
# steamapps folder on Windows: C:/Program Files (x86)/Steam/steamapps/common/
# steamapps folder on Linux: /home/{user}/.steam/debian-installation/steamapps/common/
#
# AmongUsRootFolder should be the root where Among Us has mods you wanna manage
#
# Final Example
# WINDOWS: C:/Program Files (x86)/Steam/steamapps/common/Among Us TOU/BepInEx/plugins/
# LINUX: /home/{user}/.steam/debian-installation/steamapps/common/Among Us TOU/BepInEx/plugins/