MODS_PATH = '/SomePathToAmongUs/AmongUsRootFolder/BepInEx/plugins/'
# If the app doesn't load, the directory may be incorrect, double check casesensitivity
#
# replace the SomePathToAmongUs to the path your Among Us Folder is in
# steamapps folder on Windows: C:/Program Files (x86)/Steam/steamapps/common/
# steamapps folder on Linux: /home/{user}/.steam/debian-installation/steamapps/common/
#
# AmongUsRootFolder should be the root where Among Us has mods you wanna manage
#
# Final Example
# WINDOWS: C:/Program Files (x86)/Steam/steamapps/common/Among Us TOU/BepInEx/plugins/
# LINUX: /home/{user}/.steam/debian-installation/steamapps/common/Among Us TOU/BepInEx/plugins/

STEAM_APP_ID = '440'
# The App ID of Among Us on steam, you can find it somewhere in steam.
# Among Us' Official Steam ID: 945360
# If you're using a seperate install, setting it up as a Non-Steam game, you will have to look up how to find the ID.